[submodule "cicd/apps/react-frontend"]
	path = cicd/apps/react-frontend
	url = https://github.com/Honghao-Zheng/react-frontend.git
[submodule "cicd/apps/java-backend"]
	path = cicd/apps/java-backend
	url = https://github.com/Honghao-Zheng/java-backend.git
